* { 
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
}

body {
	margin: 0 20px;
	font: 16px Lato, Helvetica, Arial; 
	color: #3b3a36;
	background-color: #e9ece5;
}

.btn-primary {
	background-color: #b3c2bf;
	border-color: #6b7472;
}

.btn-primary:hover {
	background-color: #6b7472;
	border-color: #353a39;
}

.form-control:focus {
  border-color: #353a39;
  box-shadow-color: #353a39
}

.ta-editor {
    min-height: 300px;
    height: auto;
    overflow: auto;
    font-family: inherit;
    font-size: 100%;
    margin:20px 0;
}

.updateBtn {
	display: inline;
}

.topbar {
	margin-bottom: 5px;
}
/* Chat Directory */

.directory-box {
	margin-bottom: 5px;
	margin-top: -10px;
}

/* Chat Box */
      
form { 
	background: #000; 
	padding: 3px; 
	position: fixed; 
	bottom: 0; 
	width: 95%; 
}

form input { 
	border: 0; 
	padding: 10px; 
	width: 90%; 
	margin-right: .5%; 
}
     
form button { 
	width: 9%; 
	background: rgb(130, 224, 255); 
	border: none; 
	padding: 10px; 
}

.messageBtn {
	margin-bottom: 3px;
}

#messages { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
}
      
#messages li { 
	padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
	background: #d1dad8; 
}